{% extends "base.html" %}

{% block content %}

<br>
<h1 class="display-4">Selectionne un état des lieux</h1>
<br>

<!--Barre de progression-->
<div class="progress-stacked  mb-3" style="height: 50px">
  <div class="progress border" role="progressbar" style="height: 50px; width: 33%">
    <div class="progress-bar" style="background-color: rgb(168, 168, 168);">1. Selection du logement</div>
  </div>
  <div class="progress border" role="progressbar" style="height: 50px; width: 34%">
    <div class="progress-bar">2. Type d'état des lieux</div>
  </div>
  <div class="progress border" role="progressbar" style="height: 50px; width: 33%">
    <div class="progress-bar" style="background-color: rgb(168, 168, 168);">3. Édition de l'état des lieux</div>
  </div>
</div>

{{edl}} <br>


<div class="list-group mb-2">
    {% if edl.logement_occupe == 'arrivee' %}
    <a href="etat-new/" class="list-group-item list-group-item-action list-group-item-primary">
        <h3><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 1 16 16">
        <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg>
        <b>États vièrge</b></h3>
        <ul style="margin-bottom: 0;">
        <li>États remis à zéro</li>
        </ul>
    </a>
    <a href="etat-rep/" class="list-group-item list-group-item-action list-group-item-primary">
        <h3><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 1 16 16">
        <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg>
        <b>Reprise des états de l'état des lieux initiale</b></h3>
        <ul style="margin-bottom: 0;">
        <li>États remis à zéro</li>
        <li>On repasse en revus l'état des lieux d'arrivée</li>
        </ul>
    </a>

    {% else %}

    Etat vièrges<br>

        {% if edl.pre_edl %}

        Reprise du pré edl

        {% endif %}

    {% endif %}
</div>
<br>
<br>
{% if edl %}
    <figcaption class="blockquote-footer">
        Dernier état des lieux pour <b>{{edl.prenom}} {{edl.nom}}</b>, <cite title="Source Title">{{edl.date}}</cite>
    </figcaption>

    <div class="list-group mb-2">
        <a href="edl-inc-{{edl.id_edl}}/" class="list-group-item list-group-item-action list-group-item-primary">
            <h3><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 1 16 16">
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
              </svg>
              <b>Même locataire</b></h3>
              <ul style="margin-bottom: 0;">
                <li>À partir de l'ancien état des lieux</li>
                <li><strong>Avec</strong> les information et photos de l'ancien occupant</li>
              </ul>
        </a>
        <a href="edl-exc-{{edl.id_edl}}/" class="list-group-item list-group-item-action list-group-item-secondary">
            <h3><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 1 16 16">
                <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5"/>
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
              </svg>
              <b>Locataire différent</b></h3>
              <ul style="margin-bottom: 0;">
                <li>À partir de l'ancien état des lieux</li>
                <li><strong>Sans</strong> les information et photos de l'ancien occupant</li>
              </ul>
        </a>
        <a href="nouveau/" class="list-group-item list-group-item-action list-group-item-success">
            <h3><svg xmlns="http://www.w3.org/2000/svg" width="18" height="25" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="4 0 10 20">
                <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5"/>
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
            </svg>
            <b>Nouveau</b></h3>
            <ul style="margin-bottom: 0;">
                <li>Créer un nouvel état des lieux vierge</li>
                <li>L'état de chaque élément est par défaut et sans information de l'ancien occupant</li>
            </ul>
        </a>
    </div>
{% else %}
    <div class="list-group mb-2">
        <a href="nouveau/" class="list-group-item list-group-item-action list-group-item-success">
            <h3><svg xmlns="http://www.w3.org/2000/svg" width="18" height="25" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="4 0 10 20">
                <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5"/>
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
            </svg>
            <b>Nouveau</b></h3>
            <ul style="margin-bottom: 0;">
                <li>Créer un nouvel état des lieux vierge</li>
                <li>L'état de chaque élément est par défaut et sans information de l'ancien occupant</li>
            </ul>
        </a>
    </div>
{% endif %}

{% endblock %}