{% extends "base.html" %}

{% block content %}
<br>
<h1>Modification de l'etat des lieux</h1>
<br>

<form method="post" name="{{Data["Information"]["id_logement"]}}">
  <div class="list-group">
  <legend class="list-group-item list-group-item-action active">Information sur le logement</legend>
    <div class="list-group-item"><b>Type de logement: </b> {{type}}<br></div>
    <div class="list-group-item"><b>Numéro de logement: </b> <input class="form-control" type="text" id="boquette" name="Information.id_logement" value="{{Data["Information"]["id_logement"]}}" disabled/><br></div>
    <div class="list-group-item"><b>Prenom: </b><input class="form-control" type="text" id="prenom" name="Information.prenom" required minlength="4" maxlength="150" size="10" value="{{Data["Information"]["prenom"]}}"/><br></div>
    <div class="list-group-item"><b>Nom: </b> <input class="form-control" type="text" id="nom" name="Information.nom" required minlength="4" maxlength="150" size="10" value="{{Data["Information"]["nom"]}}"/><br></div>
    <div class="list-group-item"><b>Mail: </b> <input class="form-control" type="email" id="mail" name="Information.mail" size="30" required value="{{Data["Information"]["mail"]}}"/><br></div>
    <div class="list-group-item"><b>Date de l'EDL: </b> <input class="form-control" type="date" id="start" name="Information.date" value="{{Data["Information"]["date"]}}" min="2023-01-01" max="2030-12-31" /><br></div>
  </div>
  <br>
{% for critere in Data.keys() %}
    {%if critere == 'Information' %}
    {% elif Data[critere] != dict() %}
    <fieldset>
        <div class="list-group">
        <legend class="list-group-item list-group-item-action active">{{critere}}</legend>
            {% for rub in Data[critere].keys(): %}
                {% if rub != "id" %}
                <div class="list-group-item">
                <h5>-> {{rub}}</h5>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    {% for choix in [[0, 'Très mauvais '], [1, 'Mauvais '], [2, 'OK'], [3, 'Bon'], [4, 'Très bon'], [5, 'Neuf']] %}
                        {% if choix[0] == Data[critere][rub] %}
                          <label class="btn btn-secondary active">
                            <input type="radio" checked id={{choix[0]}} name="{{critere+"."+rub}}" value="{{choix[0]}}"/>
                            {{choix[1]}}
                          </label>
                        {% else %}
                          <label class="btn btn-secondary">
                            <input type="radio" id={{choix[0]}} name="{{critere+"."+rub}}" value="{{choix[0]}}"/>
                            {{choix[1]}}
                          </label>
                        {% endif %}
                    {% endfor %}
                  </div>  
                  </div>
                {% endif %}
            {% endfor %}
        </div> 
    {% endif %}
    <br>
{% endfor %}
<br>
  <div class="text-center">
    <div class="btn-group">
      <button class="btn btn-success" type="submit" name="Action" value="arrivee">Arrivée</button>
      <button class="btn btn-success" type="submit" name="Action" value="depart">Départ</button>
    </div>
    <button class="btn btn-warning" type="submit" name="Action" value="modification">Modifier</button>
    <button class="btn btn-danger" type="submit" name="Action" value="supprimer">Supprimer</button>
  </div>
  </fieldset>
  </li>
</form>
<br>
{% endblock %}