{% extends "base.html" %} {%block title %}Modification de l'état des lieux{% endblock %}

{% block content %}

<br>
<h1 class="display-4">APERçU de l'état des lieux</h1>
<br>

<div class="list-group">
    <li class="list-group-item list-group-item-success">
        <h4 class="mt-2">Information</h4>
    </li>
    <div class="list-group-item">
      <h5><u>Logement:</u></h5>
      <div class="row mt-3">
        <div class="col">
          <p><b>Numéro de logement:</b> {{EDLInformation.logement}}</p>
        </div>
        <div class="col">
          <p><b>Type de logement:</b> {{EDLInformation.type_logement}}</p>
        </div>
        <div class="col">
          <p><b>Date:</b> {{tempsHTMLVersHumain(EDLInformation.date)}}</p>
        </div>
      </div>
    </div>

    <div class="list-group-item">
      <h5><u>Identité du membre de l'AGRAML:</u></h5>
      <div class="row mt-3">
        <div class="col">
          <p><b>Prénom:</b> {{EDLInformation.prenom_agraml}}</p>
        </div>
        <div class="col">
          <p><b>Nom:</b> {{EDLInformation.nom_agraml}}</p>
        </div>
        <div class="col">
          <p><b>Adresse mail:</b> {{EDLInformation.mail_agraml}}</p>
        </div>
      </div>
    </div>

    <div class="list-group-item">
      <h5><u>Identité du locataire:</u></h5>
      <div class="row">
        <div class="col">
          <p><b>Prénom:</b> {{EDLInformation.prenom}}</p>
        </div>
        <div class="col">
          <p><b>Nom:</b> {{EDLInformation.nom}}</p>
        </div>
        <div class="col">
          <p><b>Adresse mail:</b> {{EDLInformation.mail}}</p>
        </div>
      </div>
    </div>



    {% for categorie in Etats.keys() %}
      <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
          <h4 class="mt-2">{{categorie}}</h4>
      </li>

      <div class="list-group-item">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Élément</th>
              <th scope="col">État</th>
              <th scope="col">Observation</th>
              <th scope="col">Intervention</th>
            </tr>
          </thead>
          <tbody>

            {% for element in Etats[categorie] %}
              <tr>
                <td scope="row">{{element.intitule}}</td>
                  {% for etat in element.etat %}
                      {% if etat.actif %}
                      <td class="text-{{etat.couleur}}-emphasis"> {{etat.attribut}}</td>
                      {% endif %}
                  {% endfor %}
                  {% if element.observation == '' %}
                    <td>-</td>
                  {% else %}
                    <td>{{element.observation}}</td>
                  {% endif %}
                  {% if element.facturation %}
                    <td>Oui</td>
                  {% else %}
                    <td>Non</td>
                  {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}

    {% if Images %}
      <li class="list-group-item list-group-item-info">
          <h4 class="mt-2">Images</h4>
      </li>
      
      <div id="liste-images" class="carousel slide">
        <div class="carousel-indicators">
          {% for i in I %}
            <button type="button" data-bs-target="#liste-images" data-bs-slide-to="{{i+1}}" {{ 'class=active' if i == 0 else ''}}></button>
          {% endfor %}
        </div>
  
        <div class="carousel-inner">
          {% for i, image in enumerate(Images) %}
            <div class="carousel-item {{'active' if i==0 else ''}}">
              <img src="{{url_for('static', filename=image)}}" class="d-block w-100">
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#liste-images" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#liste-images" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    {% endif %}

    <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
        <h4 class="mt-2">Signature</h4>
    </li>
    <div class="list-group-item">
        <p class="mt-2"><u>Signature du locataire:</u></p>
        <div class="wrapper border border-2 rounded mb-2" style="background-color: rgb(244, 244, 244);">
            <img class="signature-pad" width=400 height="200" src="{{EDLInformation.signature}}" />
        </div>
    </div>
</div>
<br>

<button type="button" class="btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#suppression">
  Supprimer
</button>

<!-- Modal -->
<div class="modal fade" id="suppression" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Attention!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de bien vouloir supprimer cet état des lieux?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non, c'est une erreur!</button>
        <a href="/etat_des_lieux/supprimer/edl-{{id_edl}}" class="btn btn-danger">Oui, supprimer</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}