{% extends "base.html" %}

{% block content %}
<br>
<h1 class="display-4">Historique des états des lieux</h1>
<br>

<div class="list-group">
    {% for edl in ListeEDL %}
        {% if edl['action'] == 2 %}
            <a href="/consultation/edl-{{edl['edl'].id}}/" class="list-group-item list-group-item-action list-group-item-primary">
                <h3><b>{{edl['logement']}} - {{edl['edl'].prenom + " " + edl['edl'].nom}}</b></h3>
                Arrivé(e) faite le {{edl['date']}}
            </a>
        {% elif edl['action'] == 3 %}
            <a href="/consultation/edl-{{edl['edl'].id}}/" class="list-group-item list-group-item-action list-group-item-secondary">
                <h3><b>{{edl['logement']}} - {{edl['edl'].prenom + " " + edl['edl'].nom}}</b></h3>
                Parti(e) faite le {{edl['date']}}
            </a>
        {% endif %}
    {% endfor %}
</div>

{% include "pagination.html" %}

{% endblock %}