{% extends "base.html" %} {%block title %}Page d'accueil{% endblock %}

{% block content %}
<br>
<h1 class="display-4">Historique des états des lieux</h1>
<br>

<div class="list-group">
    {% for edl in ListeEDL %}
        {% if edl[1] == 0 %}
            <a href="/consultation/edl-{{edl[0].id}}/" class="list-group-item list-group-item-action list-group-item-danger">
                <h3><b>{{edl[3]}} - {{edl[0].prenom + " " + edl[0].nom}}</b></h3>
                Suppression faite le {{edl[2]}}
            </a>
        {% elif edl[1] == 1 %}
            <a href="/consultation/edl-{{edl[0].id}}/" class="list-group-item list-group-item-action list-group-item-warning">
                <h3><b>{{edl[3]}} - {{edl[0].prenom + " " + edl[0].nom}}</b></h3>
                Modification faite le {{edl[2]}}
            </a>
        {% elif edl[1] == 2 %}
            <a href="/consultation/edl-{{edl[0].id}}/" class="list-group-item list-group-item-action list-group-item-success">
                <h3><b>{{edl[3]}} - {{edl[0].prenom + " " + edl[0].nom}}</b></h3>
                Arrivée le {{edl[2]}}
            </a>
        {% elif edl[1] == 3 %}
            <a href="/consultation/edl-{{edl[0].id}}/" class="list-group-item list-group-item-action list-group-item-secondary">
                <h3><b>{{edl[3]}} - {{edl[0].prenom + " " + edl[0].nom}}</b></h3>
                Parti(e) le {{edl[2]}}
            </a>
        {% endif %}
    {% endfor %}
</div>

{% include "pagination.html" %}

{% endblock %}