{% extends "base.html" %}

{% block content %}

<br>
<h1 class="display-4">Édition de l'état des lieux</h1>
<br>
<form method="post" action="/requete_etat_des_lieux?id_edl={{id_edl}}&id_logement={{EDLInformation.id_logement}}" id="edl_form" enctype="multipart/form-data">
<div class="list-group">
    <li class="list-group-item list-group-item-success">
        <h4 class="mt-2">Information</h4>
    </li>
    <div class="list-group-item">
        <b>Logement</b>
        <div class="input-group mb-1">
            <div class="form-floating">
                <input class="form-control" type="text" id="boquette" name="Information.logement" value="{{EDLInformation.logement}}" disabled/>
                <label for="boquette">Numéro</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="text" id="type" name="Information.type_logement" value="{{EDLInformation.type_logement}}" disabled/>
                <label for="type">Type de logement</label>
            </div>
        </div>
    </div>
    <div class="list-group-item">
        <b>Identité du membre de l'AGRAML</b>
        <div class="input-group mb-1">
            <div class="form-floating">
                <input disabled type="text" class="form-control" type="text" id="prenom" name="Information.prenom_agraml" required minlength="4" maxlength="150" size="10" value="{{EDLInformation.prenom_agraml}}" placeholder="Prénom du membre de l'AGRAML">
                <label for="prenom">Prénom</label>
            </div>
            <div class="form-floating">
                <input disabled type="text" class="form-control" type="text" id="nom" name="Information.nom_agraml" required minlength="4" maxlength="150" size="10" value="{{EDLInformation.nom_agraml}}" placeholder="Nom du membre de l'AGRAML">
                <label for="nom">Nom</label>
            </div>
        </div>
    </div>
    <div class="list-group-item">
        <b>Identité du locataire</b>
        <div class="input-group mb-2">
            <div class="form-floating">
                <input type="text" class="form-control" type="text" id="prenom" name="Information.prenom" required minlength="4" maxlength="150" size="10" value="{{EDLInformation.prenom}}" placeholder="Prénom du locataire">
                <label for="prenim">Prenom</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" type="text" id="nom" name="Information.nom" required minlength="4" maxlength="150" size="10" value="{{EDLInformation.nom}}" placeholder="Nom du locataire">
                <label for="nom">Nom</label>
            </div>
        </div>
        <div class="input-group mb-1">
            <div class="form-floating">
                <input class="form-control" type="email" id="mail" name="Information.mail" size="30" required value="{{EDLInformation.mail}}" placeholder="Adresse mail du locataire"/>
                <label for="mail">Adresse mail</label>
            </div>
        </div>
    </div>
    <div class="list-group-item mb">
        <b>Date de l'état des lieux</b>
        <div class="form-floating">
            <input class="form-control" type="datetime-local" id="start" name="Information.date" value="{{EDLInformation.date}}"/>
            <label for="start">Date et heure</label>
        </div>
    </div>

    {% for categorie in Etats.keys() %}
        <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
            <h4 class="mt-2">{{categorie}}</h4>
        </li>
        <li class="list-group-item">
            {% for element in Etats[categorie] %}
                <div class="col">
                    <h5>{{element.intitule}}</h5>
                </div>
                <div class="list-group">
                    <div class="btn-group mb-2" role="group" aria-label="Basic radio toggle button group">
                        {% for etat in element.etat %}
                            {% if etat.actif %}
                                <input type="radio" autocomplete="off" class="btn-check" checked id="{{element.id}}.{{etat.valeur}}" name="{{element.id}}.{{categorie}}.{{element.intitule}}.valeur" value="{{etat.valeur}}"/>
                                <label class="btn btn-outline-{{etat.couleur}}" for="{{element.id}}.{{etat.valeur}}"> 
                                    {{etat.attribut}}
                                </label>
                            {% else %}
                            <input type="radio" autocomplete="off" class="btn-check" id="{{element.id}}.{{etat.valeur}}" name="{{element.id}}.{{categorie}}.{{element.intitule}}.valeur" value="{{etat.valeur}}"/>
                            <label class="btn btn-outline-{{etat.couleur}}" for="{{element.id}}.{{etat.valeur}}"> 
                                {{etat.attribut}}
                            </label>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-10">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="observation" name="{{element.id}}.{{categorie}}.{{element.intitule}}.observation" placeholder="Observation" value="{{element.observation}}"></input>
                            <label for="observation">Observation</label>
                        </div>
                    </div>
                    <div class="col flex">
                        <div class=" form-floating">
                            <select class="form-select" name="{{element.id}}.{{categorie}}.{{element.intitule}}.facturation" id="select-facturation">
                                <option value="on">Oui</option>
                                <option value="off" selected>Non</option>
                            </select>
                            <label for="select-facturation">À facturer</label>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
        </li>
    {% endfor %}
    <li class="list-group-item list-group-item-info">
        <h4 class="mt-2">Photos</h4>
    </li>
    <li class="list-group-item">
        <div class="d-grid col mb-2 mt-2">
            <button type="button" class="btn btn-outline-info" onclick="ajouterInput()">
                Ajouter une photo
            </button>
        </div>
        <div id='imagesInputs'>
            <!-- Les inputs s'insèrent ici-->
        </div>

        {% if ListeImages %}
        <br>
        <h5><u>Images déja attachées à l'état des lieux:</u></h5>
            <div id="liste-images" class="carousel slide">
                <div class="carousel-inner">
                    {% for i, image in enumerate(ListeImages) %}
                <div class="carousel-item{{" active" if i == 0 else ""}}">
                    <img src="{{url_for('static', filename=image)}}" class="d-block w-100 mb-2">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col btn-group" role="group">
                            <input type="radio" class="btn-check" name="image.existant.{{image}}" value="garder" id="{{image}}-garder" autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="{{image}}-garder">Garder</label>
                        
                            <input type="radio" class="btn-check" name="image.existant.{{image}}" value="retirer" id="{{image}}-retirer" autocomplete="off">
                            <label class="btn btn-outline-danger" for="{{image}}-retirer">Retirer</label>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#liste-images" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#liste-images" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        {% endif %}

    </li>
    <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
        <h4 class="mt-2">Signature</h4>
    </li>
    <div class="list-group-item">
        <p class="mt-2">Veuillez signer ci-dessous</p>
        <div class="wrapper border border-2 rounded" style="background-color: rgb(244, 244, 244);">
            <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
        </div>
        <div>
            <button class="btn btn-outline-secondary mt-2" type="button" id="clear">Effacer</button>
        </div>
        <input id="image" class="d-none" name="signature" value="">
    </div>
</div>
<br>

<div class="text-center">
    {% if not EDLInformation.supprime %}
        <div class="btn-group">
            <button class="btn btn-success" type="submit" name="0.action" value="arrivee">Arrivée</button>
            <button class="btn btn-success" type="submit" name="0.action" value="depart">Départ</button>
        </div>
    {% else %} 
    <button class="btn btn-danger" type="submit" name="0.action" value="defsupp">Supprimer definitivement</button>
    {% endif %}
</div>
<br>
</form>

<script 
          src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.7/dist/signature_pad.umd.min.js"
        ></script>
<script
          type="text/javascript"
          src="{{ url_for('static', filename='sign.js') }}"
        ></script>
<script
          type="text/javascript"
          src="{{ url_for('static', filename='image_loader_edl.js')}}"
></script>
{% endblock %}