{% extends "base.html" %} {%block title %}Page d'accueil{% endblock %}

{% block content %}
    <br>
    <h1>Quel état des lieux voulez-vous faire?</h1>
    <br>

    <div class="text-center">
    <ul class="list-group list-group-flush" id="list-chambres"></ul>
    {% for boquette in logement %}
            <li class="list-group-item">
                {% if boquette.type_logement == 0 %}
                <form action="/liste_edl?id={{boquette.id}}" method="GET">
                    <input type="submit" class="btn btn-outline-info" name='id' value={{boquette.numero}}></button>
                </form>
                {% elif boquette.type_logement == 1 %}
                <form action="/liste_edl?id={{boquette.id}}" method="GET">
                    <input type="submit" class="btn btn-outline-warning" name='id' value={{boquette.numero}}></button>
                </form>
                {% else %}
                <form action="/liste_edl?id={{boquette.id}}" method="GET">
                    <input type="submit" class="btn btn-outline-danger" name='id' value={{boquette.numero}}></button>
                </form>
                {% endif %}
            </li>
    {% endfor %}
    </ul>
    </div>

    <!-- <ul class="list-group list-group-flush" id="notes">
        {% for note in notes %}
        <li class="list-group-item">{{ note.data }}
            <button type="button" class="close" onclick=deleteNote({{note.id}})>
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        {% endfor %}
    </ul>
    <form method="POST">
        <textarea name="note" name="note" class="form-control"></textarea>
        <div align="center">
            <br>
            <button type="submit" class="btn btn-primary">Add note</button>
        </div>
    </form> -->
{% endblock %}