{% extends "base.html" %} {%block title %}Liste logements{% endblock %}

{% block content %}

<br>
<h1 class="display-4">Selectionne un logement</h1>
<br>

<form method="post">
<h4>Filtre</h4>
<div class="input-group mb-3">
  <div class="form-floating col">
    <select id="batiment" name="batiment" class="form-select">
      {% for bat in ['-', 'A', 'B', 'C', 'D', 'E', 'F', 'TA', 'TB'] %}
        {% if form.batiment == bat %}
          <option value="{{bat}}" selected>{{bat}}</option>
        {% else %}
          <option value="{{bat}}">{{bat}}</option>
        {% endif %}
      {% endfor %}
    </select>              
    <label for="batiment">Bâtiment</label>
  </div>
  <div class="form-floating col">
    <select id="etage" name="etage" class="form-select">
      {% for etage in ['-', 0, 1, 2, 3, 4, 5, 6] %}
        {% if form.etage == str(etage) %}
          <option selected value="{{etage}}">{{etage}}</option>
        {% else %}
          <option value="{{etage}}">{{etage}}</option>
        {% endif %}
      {% endfor %}
    </select>        
    <label for="etage">Étage</label>    
  </div>
  <div class="form-floating col">
    <select id="inputType" name="type" class="form-select">
          <option value="-">-</option>
      {% for type in TypesLogements %}
        {% if form.type == str(type.id) %}
          <option selected value="{{type.id}}">{{type.type}}</option>
        {% else %}
          <option value="{{type.id}}">{{type.type}}</option>
        {% endif %}
      {% endfor %}
    </select>
    <label for="inputType">Type</label>
  </div>
</div>
<div class="input-group mb-3">
  <div class="form-floating col-md">
      <input type="text" id="prenom" name="prenom" class="form-control" placeholder="Prénom" value="{{form.prenom}}">
      <label for="prenom">Prénom</label>
  </div>
  <div class="form-floating col-md">
      <input type="text"id="nom" name="nom" class="form-control" placeholder="Nom" value="{{form.nom}}">
      <label for="nom">Nom</label>
  </div>
</div>
<div class="d-grid row g-1">
  {% if user.mode == 'dark' %}
    <button type="submit" class="btn btn-outline-light btn-block">Filtrer</button>
  {% else %}
    <button type="submit" class="btn btn-outline-dark btn-block">Filtrer</button>
  {% endif %}
</div>

</form>

{% if ListeLogements %}
  <br>

  {% if len(ListeLogements) == 1 %}
    <h4>Résultat</h4>
  {% else %}
    <h4>Résultats</h4>
  {% endif %}

  <form action="/liste_etat_des_lieux" method="post">
    <div class="list-group">
      {% for logement in ListeLogements %}
        <h4>
          <button type="submit" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" name="id_logement" value="{{logement.id_logement}}">
            <div>
              <strong>{{logement.nom_logement}}</strong> <h5>{{logement.type_logement}}</h5>
            </div>
            {% if logement.nb_edl > 0 %}
              <span class="badge bg-primary rounded-pill">{{logement.nb_edl}}</span>
            {% else %}
              <span class="badge bg-secondary rounded-pill">{{logement.nb_edl}}</span>
            {% endif %}
          </button>
        </h4>
      {% endfor %}
    </div>
  </form>
  {% else %}
  <br>
  <h5><em>Rajoute des filtres pour selectionner un logement!
    Il est posible que le filtre appliqué ne donne aucun résultat.
  </em></h5>
{% endif %}
{% endblock %}