{% extends "base.html" %} {%block title %}Modification des catégories{% endblock %}

{% block content %}

<br>
<h1 class="display-4">Modification des catégories d'éléments</h1>
<br>

<form method="post">
    <h4>Catégories existantes</h4>
    {% for cat in Categories %}
        <input class="form-control form-control-lg" type="text" id="type" name="{{cat.id}}" value="{{cat.intitule}}" placeholder="Intitulé">
        <br>
    {% endfor %}
    <h4>Nouvelle catégorie</h4>
    <input class="form-control form-control-lg" type="text" id="type" name="newcatgeorie" value="" placeholder="Ajouter une catégorie">
    <br>
    <div class="list-group">
        <button type="submit" class="btn btn-success btn-lg btn-block">Sauvegarder</button>
    </div>
</form>

{% endblock %}