{% extends "base.html" %} {%block title %}Modification de l'état des lieux{% endblock %}

{% block content %}

<br>
<h1 class="display-4">Modification de l'état des lieux</h1>
<br>
<form method="post" action="/requete_etat_des_lieux?id_edl={{id_edl}}&id_logement={{EDLInformation.id_logement}}">
<div class="list-group">
    <li class="list-group-item list-group-item-success">
        <h4 class="mt-2">Information</h4>
    </li>
    <div class="list-group-item">
        <b>Logement</b>
        <div class="input-group mb-1">
            <div class="form-floating">
                <input class="form-control" type="text" id="boquette" name="Information.logement" value="{{EDLInformation.logement}}" disabled/>
                <label for="boquette">Numéro</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="text" id="type" name="Information.type_logement" value="{{EDLInformation.type_logement}}" disabled/>
                <label for="type">Type de logement</label>
            </div>
        </div>
    </div>
    <div class="list-group-item">
        <b>Identité du membre de l'AGRAML</b>
        <div class="input-group mb-1">
            <div class="form-floating">
                <input disabled type="text" class="form-control" type="text" id="prenom" name="Information.prenom_agraml" required minlength="4" maxlength="150" size="10" value="{{EDLInformation.prenom_agraml}}" placeholder="Prénom du membre de l'AGRAML">
                <label for="prenom">Prénom</label>
            </div>
            <div class="form-floating">
                <input disabled type="text" class="form-control" type="text" id="nom" name="Information.nom_agraml" required minlength="4" maxlength="150" size="10" value="{{EDLInformation.nom_agraml}}" placeholder="Nom du membre de l'AGRAML">
                <label for="nom">Nom</label>
            </div>
        </div>
    </div>
    <div class="list-group-item">
        <b>Identité du locataire</b>
        <div class="input-group mb-2">
            <div class="form-floating">
                <input type="text" class="form-control" type="text" id="prenom" name="Information.prenom" required minlength="4" maxlength="150" size="10" value="{{EDLInformation.prenom}}" placeholder="Prénom du locataire">
                <label for="prenim">Prenom</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" type="text" id="nom" name="Information.nom" required minlength="4" maxlength="150" size="10" value="{{EDLInformation.nom}}" placeholder="Nom du locataire">
                <label for="nom">Nom</label>
            </div>
        </div>
        <div class="input-group mb-1">
            <div class="form-floating">
                <input class="form-control" type="email" id="mail" name="Information.mail" size="30" required value="{{EDLInformation.mail}}" placeholder="Adresse mail du locataire"/>
                <label for="mail">Adresse mail</label>
            </div>
        </div>
    </div>
    <div class="list-group-item mb">
        <b>Date de l'état des lieux</b>
        <div class="form-floating">
            <input class="form-control" type="date" id="start" name="Information.date" value="{{EDLInformation.date}}" min="2023-01-01" max="2030-12-31" />
            <label for="start">Date</label>
        </div>
    </div>

    {% for categorie in Valeurs.keys() %}
        <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
            <h4 class="mt-2">{{categorie}}</h4>
        </li>
        <li class="list-group-item">
            {% for element in Valeurs[categorie].keys() %}
                <div class="col">
                    <h5>{{element}}</h5>
                </div>
                <div class="list-group">
                    <div class="btn-group mb-2" role="group" aria-label="Basic radio toggle button group">
                        {% for choix in [[1, 'Mauvais état', 'danger'], [2, "Etat d'usage", 'warning'], [3, 'Bon état', 'secondary'], [4, 'Très bon état', 'success'], [5, 'Neuf', 'primary']] %}
                            {% if choix[0] == Valeurs[categorie][element][0] %}
                                <input type="radio" autocomplete="off" class="btn-check" checked id="{{Valeurs[categorie][element][2] + '.' + categorie + '.' + element + '.valeur'}}{{choix[0]}}" name="{{Valeurs[categorie][element][2] + '.' + categorie + '.' + element + '.valeur'}}" value="{{choix[0]}}"/>
                                <label class="btn btn-outline-{{choix[2]}}" for="{{Valeurs[categorie][element][2] + '.' + categorie + '.' + element + '.valeur'}}{{choix[0]}}"> 
                                    {{choix[1]}}
                                </label>
                            {% else %}
                                <input type="radio" autocomplete="off" class="btn-check" id="{{Valeurs[categorie][element][2] + '.' + categorie + '.' + element + '.valeur'}}{{choix[0]}}" name="{{Valeurs[categorie][element][2] + '.' + categorie + '.' + element + '.valeur'}}" value="{{choix[0]}}"/>
                                <label class="btn btn-outline-{{choix[2]}}" for="{{Valeurs[categorie][element][2] + '.' + categorie + '.' + element + '.valeur'}}{{choix[0]}}">
                                    {{choix[1]}}
                                </label>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="observation" name="{{Valeurs[categorie][element][2] + '.' + categorie + '.' + element + '.observation'}}" placeholder="Observation" value="{{Valeurs[categorie][element][1]}}"></input>
                    <label for="observation">Observation</label>
                </div>
                <br>
            {% endfor %}
            </li>
    {% endfor %}

    <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
        <h4 class="mt-2">Signature</h4>
    </li>
    <div class="list-group-item">
        <p class="mt-2">Veuillez signer ci-dessous</p>
        <div class="wrapper border border-2 rounded" style="background-color: rgb(244, 244, 244);">
            <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
        </div>
        <div>
            <button class="btn btn-outline-secondary mt-2" type="button" id="clear">Effacer</button>
        </div>
        <input id="image" class="d-none" name="signature" value="{{EDLInformation.signature}}">
    </div>
</div>
<br>

<div class="text-center">
    {% if not EDLInformation.supprime %}
        <div class="btn-group">
            <button class="btn btn-success" type="submit" name="0.action" value="arrivee">Arrivée</button>
            <button class="btn btn-success" type="submit" name="0.action" value="depart">Départ</button>
        </div>
        {% if not creation %}
            <button class="btn btn-warning" type="submit" name="0.action" value="modification">Modifier</button>
            <button class="btn btn-danger" type="submit" name="0.action" value="supprimer">Supprimer</button>
        {% endif %}
    {% else %}
    <button class="btn btn-danger" type="submit" name="0.action" value="defsupp">Supprimer definitivement</button>
    {% endif %}
</div>
<br>
</form>

<script 
          src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.7/dist/signature_pad.umd.min.js"
        ></script>
<script
          type="text/javascript"
          src="{{ url_for('static', filename='sign.js') }}"
        ></script>
        
{% endblock %}