{% extends "base.html" %} {%block title %}Modification types de logement{% endblock %}

{% block content %}

<br>
<h1 class="display-4">Modification des types de logements</h1>
<br>

<form method="post">
    <h4>Types de logement existants</h4>
    {% for type in Types %}
        <input class="form-control form-control-lg" type="text" id="type" name="{{type.id}}" value="{{type.type}}" placeholder="Nom">
        <br>
    {% endfor %}
    <h4>Nouveau type de logement</h4>
    <input class="form-control form-control-lg" type="text" id="type" name="newtypeoflogement" value="" placeholder="Ajouter un type">
    <br>
    <div class="list-group">
        <button type="submit" class="btn btn-success btn-lg btn-block">Sauvegarder</button>
    </div>
</form>

{% endblock %}