{% extends "base.html" %} {%block title %}Modification des logements{% endblock %}

{% block content %}
<br>
<h1 class="display-4">Modification des logements</h1>
<br>

<form method="post">
<div class="form-group">
  <ul class="list-group list-group-flush">
    <h4></h4>
    <h4 class="mb-3">Nouveau logement</h4>
        <div class="row g-2">
          <div class="input-group mb-3">
            <div class="form-floating col-md-2">
              <select id="batiment" name="nouveau.batiment" class="form-select">
                {% for bat in ['A', 'B', 'C', 'D', 'E', 'F', 'TA', 'TB'] %}
                  <option value="{{bat}}">{{bat}}</option>
                {% endfor %}
              </select>
              <label for="batiment">Bâtiment</label>
            </div>
            <div class="form-floating col-md-2">
              <select id="etage" name="nouveau.etage" class="form-select">
                {% for etage in [0, 1, 2, 3, 4, 5, 6] %}
                  <option value="{{etage}}">{{etage}}</option>
                {% endfor %}
              </select>   
              <label for="etage">Étage</label>         
            </div>
            <div class="form-floating col-md-2">
              <input type="text" class="form-control" name="nouveau.numero" id="num" placeholder="Numéro" value="00">
              <label for="num">Numéro</label>
            </div>
            <div class="form-floating col-md-6">
              <select id="type" name="nouveau.type" class="form-select">
                {% for type in TypesLogements %}
                    <option value="{{type.id}}">{{type.type}}</option>
                {% endfor %}
              </select>
              <label for="type">Type</label>
            </div>
          </div>
        </div>
    <h4></h4>
    <h4 class="mb-3">Logements existants</h4>
    {% for logement in Logements %}
        <div class="row g-2">
          <div class="input-group mb-3">
            <div class="form-floating col-md-2">
              <select id="batiment" name="{{logement.Logement.id}}.batiment" class="form-select">
                {% for bat in ['A', 'B', 'C', 'D', 'E', 'F', 'TA', 'TB'] %}
                  {% if bat == logement.Logement.batiment %}
                    <option value="{{bat}}"selected>{{bat}}</option>
                  {% else %}
                    <option value="{{bat}}">{{bat}}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <label for="batiment">Bâtiment</label>
            </div>
            <div class="form-floating col-md-2">
              <select id="etage" name="{{logement.Logement.id}}.etage" class="form-select">
                {% for etage in [0, 1, 2, 3, 4, 5, 6] %}
                  {% if etage == logement.Logement.etage %}
                    <option value="{{etage}}"selected>{{etage}}</option>
                  {% else %}
                    <option value="{{etage}}">{{etage}}</option>
                  {% endif %}
                {% endfor %}
              </select>   
              <label for="etage">Étage</label>         
            </div>
            <div class="form-floating col-md-2">
              <input type="text" class="form-control" id="num" name="{{logement.Logement.id}}.numero" placeholder="Numéro" value="{{logement.Logement.numero}}">
              <label for="num">Numéro</label>
            </div>
            <div class="form-floating col-md-6">
              <select id="inputType" name="{{logement.Logement.id}}.type" class="form-select">
                {% for type in TypesLogements %}
                    {% if type.id == logement.Logement.type_logement %}
                        <option value="{{type.id}}" selected>{{type.type}}</option>
                    {% else %}
                        <option value="{{type.id}}">{{type.type}}</option>
                    {% endif %}
                {% endfor %}
              </select>
              <label for="inputType">Type</label>
            </div>
          </div>
      </div>
    {% endfor %}
</div>
<div class="list-group">
  <button type="submit" class="btn btn-success btn-lg btn-block">Sauvegarder</button>
</div>
</form>


{% endblock %}